@import 'src/foundation.scss';

table {
    font-size: 16px;
    border-collapse: separate;
	border-spacing: 0;

    thead {
        tr {
            // position: sticky;
            // top: 0;
            // z-index: 999;
            // background: white;
            height: 70px;
        }
    }
    
    th {
        padding: 0px 16px 0px 0px;
        font-size: 14px;
        color: #6A7684;
        font-weight: 400;
        text-align: right;
        white-space: nowrap;
        border-bottom: 1px solid #d8dbdd;
    }

    td { 
        padding: 0px 16px 0px 0px;
        text-align: right;
        border-bottom: 1px solid #EAECEE;
        height: 74px;
    }

    .otherTd { 
        white-space: nowrap;
        text-align: center;
    }
}

#summary::after {
    content: "|";
    right: 0;
    color:#b3b3b3;
    animation: caret 1.2s infinite;
}
  
@keyframes caret {
    50% {
        opacity:0;
    }
}

.loading-ellipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis-animation steps(1,end) 2s infinite;
    content: "\2026";
}

@keyframes ellipsis-animation {
    0%  { clip-path: inset(0 100% 0 0); }
    25% { clip-path: inset(0 66.6% 0 0); }
    50% { clip-path: inset(0 33.3% 0 0); }
    75% { clip-path: inset(0 0 0 0); }
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}