<header class="header" [headerTpl]="headerTpl" [isBackButton]="false" [style]="{}">
</header>
<ng-template #headerTpl>
    <div style="display:flex">
        <div style="flex:1">
            <img src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/static/fe-assets/new/arrow-left.svg"
                class="nnb-icon" (click)="location.back()">
        </div>
        <div class="header-title-md" *ngIf="corp">{{corp.name}}</div>
        <div style="flex:1"></div>
    </div>
</ng-template>

<div class="frame">
    <div class="section-md" style="padding-top: 8px;">
        <ng-container *ngIf="corp">
            <div style="margin-bottom:24px;display: flex;justify-content: space-between;align-items: center;">
                <div style="display: flex;gap:8px;align-items: center;">
                    <img [src]="corp.logo" style="width:32px;height:32px"
                        onerror="this.onerror=null; this.src='/assets/black-ball.png';">
                    <div style="font-size: 22px;font-weight: 600;">{{corp.name}}</div>
                </div>
                <div style="cursor: pointer;display:flex;align-items: center;gap:4px;" *ngIf="corp"
                    (click)="goToOrder(corp.code)">
                    <img src="/assets/sh-logo.png" style="width: 72px;">
                    <div style="font-size:12px">주문하기</div>
                </div>
            </div>
            <div style="background: rgb(185, 218, 247);padding: 24px;border-radius: 24px;margin-top: 16px;">
                <div style="font-size: 14px;font-weight: 600;margin-bottom:4px">주식 AI 어시스턴트 분석</div>
                <div *ngIf="!summary" class="desc loading-ellipsis" style="margin-bottom:32px">분석 중입니다</div>
                <div class="line-clamp-3" *ngIf="summary && !isMore">{{summary}}</div>
                <markdown *ngIf="summary && isMore" [data]="summary"></markdown>
                <button *ngIf="summary && !isMore" class="nnb-btn nnb-btn-sm nnb-btn-outline" style="margin-top: 8px;"
                    (click)="isMore = !isMore">더보기</button>
                <button *ngIf="summary && isMore" class="nnb-btn nnb-btn-sm nnb-btn-outline"
                    (click)="isMore = !isMore">접기</button>
            </div>
        </ng-container>
    </div>

    <div class="section-md">
        <div style="overflow: auto;">
            <table>
                <thead>
                    <tr>
                        <th>연도</th>
                        <th>매출액</th>
                        <th>영업이익</th>
                        <th>당기순이익</th>
                        <th>영업이익률</th>
                        <th>순이익률</th>
                        <th>ROE</th>
                        <th>EPS</th>
                        <th>PER</th>
                        <th>BPS</th>
                        <th>PBR</th>
                        <th>부채비율</th>
                        <th>당좌비율</th>
                        <th>유보율</th>
                        <th>연평균 매출액 증감률</th>
                        <th>연평균 순이익 증감률</th>
                        <th>영업이익 증감률</th>
                        <th>순이익 증감률</th>
                        <th>주당배당금</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let finance of corp?.finances">
                        <td class="otherTd">{{finance?.year}}<br>
                            <span *ngIf="finance?.year == 202412">(E)</span>
                        </td>
                        <td class="otherTd">{{finance?.fullRevenue |number}}{{finance?.fullRevenue?'억원':''}}</td>
                        <td class="otherTd">{{finance?.operatingProfit|number}}{{finance?.operatingProfit?'억원':''}}</td>
                        <td class="otherTd">{{finance?.netIncome| number}}{{finance?.netIncome?'억원':''}}</td>
                        <td class="otherTd">
                            {{finance?.operatingProfitMargin|number}}{{finance?.operatingProfitMargin?'%':''}}</td>
                        <td class="otherTd">{{finance?.netProfitMargin|number}}{{finance?.netProfitMargin?'%':''}}</td>
                        <td class="otherTd">{{finance?.roe| number}}{{finance?.roe?'%':''}}</td>
                        <td class="otherTd">{{finance?.eps| number}}{{finance?.eps?'원':''}}</td>
                        <td class="otherTd">{{finance?.per| number}}{{finance?.per?'배':''}}</td>
                        <td class="otherTd">{{finance?.bps| number}}{{finance?.bps?'원':''}}</td>
                        <td class="otherTd">{{finance?.pbr| number}}{{finance?.pbr?'배':''}}</td>
                        <td class="otherTd">{{finance?.debtToEquityRatio| number}}{{finance?.debtToEquityRatio?'%':''}}
                        </td>
                        <td class="otherTd">{{finance?.quickRatio| number}}{{finance?.quickRatio?'%':''}}</td>
                        <td class="otherTd">{{finance?.reserveRatio| number}}{{finance?.reserveRatio?'%':''}}</td>
                        <td class="otherTd">
                            {{finance?.revenuePerYearIncreaseRatio|number}}{{finance?.revenuePerYearIncreaseRatio?'%':''}}
                        </td>
                        <td class="otherTd">
                            {{finance?.netProfitPerYearIncreaseRatio|number}}{{finance?.netProfitPerYearIncreaseRatio?'%':''}}
                        </td>
                        <td class="otherTd">
                            {{finance?.operatingProfitIncreaseRatio|number}}{{finance?.operatingProfitIncreaseRatio?'%':''}}
                        </td>
                        <td class="otherTd">
                            {{finance?.netProfitIncreaseRatio|number}}{{finance?.netProfitIncreaseRatio?'%':''}}</td>
                        <td class="otherTd">{{finance?.dividendPerShare|number}}{{finance?.dividendPerShare?'원':''}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>