<div style="overflow: auto;height: 100vh;background: white;">
    <div style="position: sticky;left:0px;top:0px;background: white;z-index: 900;">
        <header class="header" [headerTpl]="headerTpl" [isBackButton]="false" [style]="{}"></header>
        <ng-template #headerTpl>
            <div style="display:flex;">
                <div style="flex:1">
                    <img src="https://nonunbub.s3.ap-northeast-2.amazonaws.com/static/fe-assets/new/arrow-left.svg"
                        class="nnb-icon" (click)="location.back()">
                </div>
                <div *ngIf="theme" class="header-title-md" style="transition: all 0.1s;opacity: 0;" #themeTitle>
                    {{theme.name}}</div>
                <div style="flex:1"></div>
            </div>
        </ng-template>
    </div>
    <div style="position:sticky;left:0px;">
        <div #themeTitleView></div>
        <div *ngIf="theme" style="margin:0px 16px;padding:16px 32px 20px 32px;border-radius: 24px;;margin-bottom: 24px;"
            [ngStyle]="{'background':theme.color}">
            <div style="display:flex;justify-content: space-between;align-items: center">
                <div>
                    <div style="color:#6E7D6F;font-size: 14px;">{{theme.desc}}</div>
                    <div style="font-size: 20px;font-weight: 600;">{{theme.name}}</div>
                </div>
                <img [src]="'/assets/'+theme.img+'.png'" style="width: 68px;">
            </div>
            <hr style="margin:11px -16px 16px -10px">
            <div style="display: flex;gap:4px;flex-direction: column;">
                <div *ngFor="let standard of standards">
                    <div *ngIf="standard.key === 'revenuePerYearIncreaseRatio'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">연평균 매출액 증감률</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'연평균 매출액 증감률')">
                        </div>
                        <div class="desc">{{standard.value}}% 이상 (최근 3년)</div>
                    </div>
                    <div *ngIf="standard.key === 'netProfitPerYearIncreaseRatio'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">연평균 순이익 증감률</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'연평균 순이익 증감률')">
                        </div>
                        <div class="desc">{{standard.value}}% 이상 (최근 3년)</div>
                    </div>
                    <div *ngIf="standard.key === 'per'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">PER</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'PER')">
                        </div>
                        <div class="desc">{{standard.value}}배 이하</div>
                    </div>
                    <div *ngIf="standard.key === 'pbr'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">PBR</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'PBR')">
                        </div>
                        <div class="desc">{{standard.value}}배 이하</div>
                    </div>
                    <div *ngIf="standard.key === 'netProfitIncreaseRatio'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">순이익 증감률</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'순이익 증감률')">
                        </div>
                        <div class="desc">{{standard.value}}% 이상</div>
                    </div>
                    <div *ngIf="standard.key === 'roe'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">ROE</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'ROE')">
                        </div>
                        <div class="desc">{{standard.value}}% 이상</div>
                    </div>
                    <div *ngIf="standard.key === 'continuousIncreaseNetProfit'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">순이익 연속증가</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'순이익 연속증가')">
                        </div>
                        <div class="desc">{{standard.value}}년 이상</div>
                    </div>
                    <div *ngIf="standard.key === 'operatingProfitIncreaseRatio'"
                        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;">
                        <div style="display: flex;gap:4px;align-items: center;">
                            <div class="nnb-badge nnb-badge-md nnb-badge-outline">영업이익 증감률</div>
                            <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                (click)="openBm(descTpl,'영업이익 증감률')">
                        </div>
                        <div class="desc">{{standard.value}}년 이상</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin:0px 16px 4px 16px;color:#6A7684;">주식 {{corps?.length|number}}{{corps?.length?'개':''}}</div>
    </div>
    <table *ngIf="corps">
        <thead>
            <tr>
                <ng-container *ngFor="let column of columns">
                    <ng-container *ngIf="column.key == 'name'">
                        <th #th style="text-align: left;position: sticky; left: 0;background:
            white;z-index:1;padding:0px 0px 0px 16px">
                            <div style="display: flex;gap:4px;align-items: center;">
                                <div style="display:flex;gap:1px;align-items: center;justify-content: flex-end;"
                                    (click)="sort('name')">
                                    <div [ngStyle]="{color: order.key === 'name' ? '#329AF0': '#6A7684'}">주식</div>
                                    <div *ngIf="order.key === 'name'">
                                        <img *ngIf="order.isAsc" src="/assets/arrow-up-blue.png"
                                            style="width: 16px;height: 16px;">
                                        <img *ngIf="!order.isAsc" src="/assets/arrow-down-blue.png"
                                            style="width: 16px;height: 16px;">
                                    </div>
                                </div>
                                <img style="width:18px;height:18px;cursor: pointer;" src="/assets/information.png"
                                    (click)="openBm(corpDescTpl)">
                            </div>
                        </th>
                    </ng-container>
                    <ng-container *ngIf="column.key == 'fullRevenue'">
                        <th (click)="sort('fullRevenue')" #thView>
                            <div style="display:flex;gap:1px;align-items: center;justify-content: flex-end;">
                                <div [ngStyle]="{color: order.key === 'fullRevenue' ? '#329AF0': '#6A7684'}">매출액</div>
                                <div *ngIf="order.key === 'fullRevenue'">
                                    <img *ngIf="order.isAsc" src="/assets/arrow-up-blue.png"
                                        style="width: 16px;height: 16px;">
                                    <img *ngIf="!order.isAsc" src="/assets/arrow-down-blue.png"
                                        style="width: 16px;height: 16px;">
                                </div>
                            </div>
                        </th>
                    </ng-container>
                    <ng-container *ngIf="column.key != 'name' && column.key != 'fullRevenue'">
                        <th (click)="sort(column.key)"
                            [ngStyle]="{'padding-right': column.key == 'dividendPerShare' ? '16px':'0px'}">
                            <div style="display:flex;gap:1px;align-items: center;justify-content: flex-end;"
                                [ngStyle]="{'flex-wrap': column.key == 'dividendPerShare' ? 'wrap':''}">
                                <div [ngStyle]="{color: order.key === column.key ?
                                 '#329AF0': '#6A7684'}">{{column.name}}</div>
                                <div *ngIf="order.key === column.key">
                                    <img *ngIf="order.isAsc" src="/assets/arrow-up-blue.png"
                                        style="width: 16px;height: 16px;">
                                    <img *ngIf="!order.isAsc" src="/assets/arrow-down-blue.png"
                                        style="width: 16px;height: 16px;">
                                </div>
                            </div>
                        </th>
                    </ng-container>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let corp of corps">
                <td class="myTd" style="text-align: left;position: sticky; left: 0;background: white;
                padding: 0px 16px 0px 16px;min-width: 140px;">
                    <div style="display:flex;gap:4px;align-items: center;cursor: pointer;" (click)="goToCorp(corp)">
                        <img [src]="corp.logo" style="width:24px;height:24px"
                            onerror="this.onerror=null; this.src='/assets/black-ball.png';">
                        <div>{{corp?.name}}</div>
                    </div>
                </td>
                <td class="otherTd">{{corp?.finance?.fullRevenue |
                    number}}{{corp?.finance?.fullRevenue?'억원':''}}</td>
                <td class="otherTd">{{corp?.finance?.operatingProfit|
                    number}}{{corp?.finance?.operatingProfit?'억원':''}}
                </td>
                <td class="otherTd">{{corp?.finance?.netIncome| number}}{{corp?.finance?.netIncome?'억원':''}}
                </td>
                <td class="otherTd">
                    {{corp?.finance?.operatingProfitMargin|number}}{{corp?.finance?.operatingProfitMargin?'%':''}}
                </td>
                <td class="otherTd">{{corp?.finance?.netProfitMargin|
                    number}}{{corp?.finance?.netProfitMargin?'%':''}}</td>
                <td class="otherTd">{{corp?.finance?.roe| number}}{{corp?.finance?.roe?'%':''}}</td>
                <td class="otherTd">{{corp?.finance?.eps| number}}{{corp?.finance?.eps?'원':''}}</td>
                <td class="otherTd">{{corp?.finance?.per| number}}{{corp?.finance?.per?'배':''}}</td>
                <td class="otherTd">{{corp?.finance?.bps| number}}{{corp?.finance?.bps?'원':''}}</td>
                <td class="otherTd">{{corp?.finance?.pbr| number}}{{corp?.finance?.pbr?'배':''}}</td>
                <td class="otherTd">{{corp?.finance?.revenuePerYearIncreaseRatio|
                    number}}{{corp?.finance?.revenuePerYearIncreaseRatio?'%':''}}</td>
                <td class="otherTd">{{corp?.finance?.netProfitPerYearIncreaseRatio|
                    number}}{{corp?.finance?.netProfitPerYearIncreaseRatio?'%':''}}</td>
                <td class="otherTd">{{corp?.finance?.operatingProfitIncreaseRatio|
                    number}}{{corp?.finance?.operatingProfitIncreaseRatio?'%':''}}</td>
                <td class="otherTd">{{corp?.finance?.netProfitIncreaseRatio|
                    number}}{{corp?.finance?.netProfitIncreaseRatio?'%':''}}</td>
                <td class="otherTd" style="padding: 0px 16px 0px 16px">{{corp?.finance?.dividendPerShare|
                    number}}{{corp?.finance?.dividendPerShare?'원':''}}
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!corps" style="padding: 0px 16px">
        <div *ngFor="let row of [1,2,3,4,5]" style="display:flex;gap:12px;align-items: center;margin-bottom: 16px;margin-top: 24px;
                    justify-content: space-between">
            <skeleton [width]="'40px'" [height]="'40px'" [borderRadius]="'100%'"></skeleton>
            <skeleton [width]="'100%'" [height]="'40px'" [borderRadius]="'12px'" style="width: 90%;">
            </skeleton>
        </div>
    </div>
</div>

<ng-template #descTpl>
    <div *ngIf="selectedQuestion === '연평균 매출액 증감률'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}이란?</div>
        <div style="margin-bottom:20px;">
            기업의 매출액이 매년 얼마나 성장했는지 평균하여 계산한 성장률이에요.
            장기적인 관점에서 <span class="pen">기업의 성장 추세를 파악할 수 있어요.</span>
        </div>
        <div style="margin-bottom:20px;">
            매출이 <span class="pen">3년간 연평균 10% 이상 증가</span>하면, <span class="pen">꾸준한 매출 성장</span>을 하고 있다고 볼 수 있어요.
        </div>
    </div>

    <div *ngIf="selectedQuestion === '연평균 순이익 증감률'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}이란?</div>
        <div style="margin-bottom:20px;">
            기업의 순이익이 매년 얼마나 성장했는지 평균하여 계산한 성장률이에요.
            장기적인 관점에서 <span class="pen">기업의 이익 성장 추세를 파악할 수 있어요.</span>
        </div>
        <div style="margin-bottom:20px;">
            순이익이 <span class="pen">3년간 연평균 20% 이상 증가</span>하면, <span class="pen">빠른 이익 성장</span>을 하고 있다고 볼 수 있어요.
        </div>
    </div>

    <div *ngIf="selectedQuestion === '순이익 증감률'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}이란?</div>
        <div style="margin-bottom:20px;">
            <span class="pen">이전 기간 대비 순이익</span>이 얼마나 변했는지를 나타내는 비율이에요.
        </div>
        <div style="margin-bottom:20px;">
            기업의 <span class="pen">수익성 변화</span>를 확인할 수 있어요.
        </div>
    </div>

    <div *ngIf="selectedQuestion === '순이익 연속증가'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}란?</div>
        <div style="margin-bottom:20px;">
            순이익이 <span class="pen">연속적으로 증가하는 횟수</span>를 나타낸 지표에요.
        </div>
        <div style="margin-bottom:20px;">
            지속적인 순이익 증가는 <span class="pen">기업의 이익 성장성이 좋다는 의미</span>로 해석할 수 있어요.
        </div>
    </div>

    <div *ngIf="selectedQuestion === '영업이익 증감률'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}이란?</div>
        <div style="margin-bottom:20px;">
            이전 기간 대비 <span class="pen">영업이익이 증가하거나 감소한 정도</span>를 나타내는 비율이에요.
        </div>
        <div style="margin-bottom:20px;">
            기업의 <span class="pen">수익성의 핵심 지표</span>로 사용돼요.
        </div>
    </div>

    <div *ngIf="selectedQuestion === 'PER'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}이란?</div>
        <div style="font-family: KyoboHandwriting2023wsa;font-size: 24px;font-weight: 600;
        margin-bottom: 24px;">"수익성으로 보는 기업에 대한 기대치"</div>
        <div style="margin-bottom:20px;">
            PER은 <span class="pen">주가 ÷ 1주당 당기순이익</span>으로 계산해요.
            PER이 높다면 현재 이 회사가 버는 수익에 비해 주가가 높다는 뜻이에요. <span class="pen">고평가</span> 돼 있다는 뜻이죠.
            반대로 PER이 낮다면 기업 가치에 비해 주가가 <span class="pen">저평가</span> 돼 있다고 보면 돼요.
        </div>
        <div style="margin-bottom:20px;">
            PER은 <span class="pen">시장이 이 기업에 거는 기대가 어느 정도인지 보여주는 척도</span>죠.
            PER이 높다는 건, 아직 실제로 버는 돈은 적은데 시장에서 높은 금액에 거래되고 있다는 뜻이니까요.
        </div>
        <div style="margin-bottom:20px;">
            일반적으로 <span class="pen">PER이 10배 미만</span>이면, 주가가 <span class="pen">낮게 평가</span>되고 있다고 볼 수 있어요.
        </div>
    </div>

    <div *ngIf="selectedQuestion === 'PBR'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}이란?</div>
        <div style="font-family: KyoboHandwriting2023wsa;font-size: 24px;font-weight: 600;
        margin-bottom: 24px;">"자산가치로 보는 기업에 대한 기대치"</div>
        <div style="margin-bottom:20px;">
            PBR은 <span class="pen">주가 ÷ 1주당 순자산</span>으로 계산해요.
            PBR이 높다면 현재 이 회사의 자산에 비해 주가가 높다는 뜻이에요. <span class="pen">고평가</span> 돼 있다는 뜻이죠.
            반대로 PBR이 낮다면 기업 자산에 비해 주가가 <span class="pen">저평가</span> 돼 있다고 보면 돼요.
        </div>
        <div style="margin-bottom:20px;">
            <span class="pen">PBR이 1인 경우</span> 그 기업의 자산가치와 주가가 같다고 말할 수 있고,
            회사가 망해 청산 시 <span class="pen">투자한 금액을 얼만큼</span> 되돌려 받을 수 있냐를 의미한다고 볼 수 있어요.
        </div>
        <div style="margin-bottom:20px;">
            일반적으로 <span class="pen">PBR이 1배 미만</span>이면, 주가가 <span class="pen"> 순자산 대비 낮게 평가</span>되고 있다고 볼 수 있어요.
        </div>
    </div>

    <div *ngIf="selectedQuestion === 'ROE'">
        <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">{{selectedQuestion}}란?</div>
        <div style="font-family: KyoboHandwriting2023wsa;font-size: 24px;font-weight: 600;
        margin-bottom: 24px;">"기업의 이익창출 능력"</div>
        <div style="margin-bottom:20px;">
            ROE은 <span class="pen">당기순이익 ÷ 자기자본 x 100</span>으로 계산해요.
            더 적은 자본을 가지고 더 많은 이익을 낸다면 ROE가 높을 것이고 <span class="pen">기업의 이익잉여금을 잘 활용</span>하고 있다는 것을 의미해요.
        </div>
        <div style="margin-bottom:20px;">
            이전 해에 벌어들인 순이익이 이번 해에 자본으로 들어가기 때문에 ROE를 꾸준히 올리는 기업은 <span class="pen">자본효율성이나 수익성이 매우 좋다</span>는 의미에요.
        </div>
        <div style="margin-bottom:20px;">
            하지만 주주들에게 배당을 늘려 자본을 줄이는 등 ROE를 임의로 조절 할 수도 있기 때문에 <span class="pen">다른 지표를 보완적 함께 사용해야</span> 할 수 있어요.
        </div>
    </div>
    <button class="nnb-btn-md nnb-btn-block nnb-btn-secondary" style="margin-top:12px" (click)="closeBm()">확인</button>
</ng-template>

<ng-template #corpDescTpl>
    <div style="font-size: 22px;font-weight: 600;margin-bottom:24px">Stock AI</div>
    <div>각 주식 종목을 클릭하면 Stock AI의 요약 정보와 연도 별 주요 재무 정보를 확인하실 수 있습니다.</div>
    <button class="nnb-btn-md nnb-btn-block nnb-btn-secondary" style="margin-top: 16px;" (click)="closeBm()">확인</button>
</ng-template>