<div class="container">
  <div style="display: block;position:sticky;left:0px;background: white;">
    <div style="font-size: 24px;padding: 16px 24px 24px 24px;font-weight: 700;">SH증권</div>
    <div style="padding:0px 24px">
      <div style="color:#6A7684;">주식 {{meta?.totalItems|number}}{{meta?.totalItems?'개':''}}</div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th #th style="text-align: left;position: sticky; left: 0;background: white;z-index:999">주식</th>
        <th #thView>매출액</th>
        <th>영업이익</th>
        <th>당기순이익</th>
        <th>영업이익률</th>
        <th>순이익률</th>
        <th>ROE</th>
        <th>EPS</th>
        <th>PER</th>
        <th>BPS</th>
        <th>PBR</th>
        <th>주당배당금</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let corp of corps">
        <td class="myTd" style="text-align: left;position: sticky; left: 0;background: white;padding: 8px 24px;">
          {{corp?.name}}</td>
        <td class="otherTd">{{corp?.finance?.fullRevenue | number}}{{corp?.finance?.fullRevenue?'억원':''}}</td>
        <td class="otherTd">{{corp?.finance?.operatingProfit| number}}{{corp?.finance?.operatingProfit?'억원':''}}</td>
        <td class="otherTd">{{corp?.finance?.netIncome| number}}{{corp?.finance?.netIncome?'억원':''}}</td>
        <td class="otherTd">
          {{corp?.finance?.operatingProfitMargin|number}}{{corp?.finance?.operatingProfitMargin?'%':''}}</td>
        <td class="otherTd">{{corp?.finance?.netProfitMargin| number}}{{corp?.finance?.netProfitMargin?'%':''}}</td>
        <td class="otherTd">{{corp?.finance?.roe| number}}{{corp?.finance?.roe?'%':''}}</td>
        <td class="otherTd">{{corp?.finance?.eps| number}}{{corp?.finance?.eps?'원':''}}</td>
        <td class="otherTd">{{corp?.finance?.per| number}}{{corp?.finance?.per?'배':''}}</td>
        <td class="otherTd">{{corp?.finance?.bps| number}}{{corp?.finance?.bps?'원':''}}</td>
        <td class="otherTd">{{corp?.finance?.pbr| number}}{{corp?.finance?.pbr?'배':''}}</td>
        <td class="otherTd">{{corp?.finance?.dividendPerShare| number}}{{corp?.finance?.dividendPerShare?'원':''}}</td>
      </tr>
    </tbody>
  </table>

  <div infinite-scroll (scrolled)="onScroll()"></div>

  <router-outlet></router-outlet>
</div>