<div style="padding:16px;">
  <div style="color:#A1A1A6;">주식 {{meta?.totalItems}}개</div>
</div>

<table class="table">
  <tr>
    <th style="text-align: left;">기업</th>
    <th>매출액</th>
    <th>영업이익</th>
    <th>당기순이익</th>
    <th>영업이익률</th>
    <th>순이익률</th>
    <th>ROE</th>
    <th>EPS</th>
    <th>PER</th>
    <th>BPS</th>
    <th>PBR</th>
    <th>주당배당금</th>
  </tr>
  <tr *ngFor="let corp of corps">
    <td style="text-align: left;">{{corp?.name}}</td>
    <td>{{corp?.finance?.fullRevenue | number}}{{corp?.finance?.fullRevenue?'억원':''}}</td>
    <td>{{corp?.finance?.operatingProfit| number}}{{corp?.finance?.operatingProfit?'억원':''}}</td>
    <td>{{corp?.finance?.netIncome| number}}{{corp?.finance?.netIncome?'억원':''}}</td>
    <td>{{corp?.finance?.operatingProfitMargin| number}}{{corp?.finance?.operatingProfitMargin?'%':''}}</td>
    <td>{{corp?.finance?.netProfitMargin| number}}{{corp?.finance?.netProfitMargin?'%':''}}</td>
    <td>{{corp?.finance?.roe| number}}{{corp?.finance?.roe?'%':''}}</td>
    <td>{{corp?.finance?.eps| number}}</td>
    <td>{{corp?.finance?.per| number}}{{corp?.finance?.per?'배':''}}</td>
    <td>{{corp?.finance?.bps| number}}</td>
    <td>{{corp?.finance?.pbr| number}}{{corp?.finance?.pbr?'배':''}}</td>
    <td>{{corp?.finance?.dividendPerShare| number}}{{corp?.finance?.dividendPerShare?'원':''}}</td>
  </tr>
</table>
<div class="search-results" infinite-scroll (scrolled)="onScroll()"></div>
<router-outlet></router-outlet>