<div class="search-container">
    <div style="font-size: 24px;font-weight: 700;text-wrap: nowrap;">SH증권</div>
    <input class="body1-regular search-input" placeholder="기업 또는 상장코드" [(ngModel)]="term" (keyup.enter)="search()">
</div>

<div class="frame">
    <div class="section-md">
        <div class="section-title">국내 시장 현황</div>
        <div style="background: rgb(185, 218, 247);padding: 24px;border-radius: 24px;margin-top: 16px;">
            <div style="font-size: 14px;font-weight: 600;margin-bottom:4px">주식 AI 어시스턴트 요약</div>
            <div *ngIf="!summary" class="desc loading-ellipsis" style="margin-bottom:32px">요약 중입니다</div>
            <div class="line-clamp-3" *ngIf="summary && !isMore">{{summary}}</div>
            <markdown *ngIf="summary && isMore" [data]="summary"></markdown>
            <button *ngIf="summary && !isMore" class="nnb-btn nnb-btn-sm nnb-btn-outline" style="margin-top: 8px;"
                (click)="isMore = !isMore">더보기</button>
            <button *ngIf="summary && isMore" class="nnb-btn nnb-btn-sm nnb-btn-outline"
                (click)="isMore = !isMore">접기</button>
        </div>
    </div>
    <div class="section-md">
        <div class="section-title">무엇이든 물어보세요</div>
        <div style="padding:16px 24px 8px 24px;border-radius: 24px;">
            <div style="display:flex;justify-content: flex-end;min-width: 32px;margin-bottom: 16px;">
                <div style="padding:16px;background: #F4F4F4;border-radius: 24px;">
                    엔비디아의 주가 상승 원인이 뭐야?
                </div>
            </div>
            <div style="margin-bottom: 24px;">
                <div style="display: flex;gap:4px;align-items: center;">
                    <img src="/assets/infinity.png" style="width:32px;height: 32px;">
                    <div style="font-size: 16px;font-weight: 600;">주식 AI 어시스턴트</div>
                </div>
                <img src="/assets/loading.gif" style="width:32px;">
            </div>
            <button class="nnb-btn nnb-btn-md nnb-btn-secondary nnb-btn-block" (click)="goToChat()">질문하기</button>
        </div>
    </div>
    <div class="section-md">
        <div class="section-title">주식 모아보기</div>
        <div style="display:flex;flex-direction: column;gap: 16px;">
            <div *ngFor="let card of cards">
                <div style="display:flex;gap: 16px;">
                    <div *ngFor="let v of card"
                        style="width:50%;aspect-ratio: 1 / 1;padding:24px; border-radius: 24px;cursor: pointer;"
                        [ngStyle]="{'background':v.color}" (click)="goToTheme(v.name)">
                        <div style="color:#6E7D6F;font-size: 14px;">{{v.desc}}</div>
                        <div style="font-size: 20px;font-weight: 600;">{{v.name}}</div>
                        <div style="text-align: center;padding:16px 16px 0px 16px">
                            <img [src]="'/assets/'+v.img+'.png'" style="width: 68px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>