@import 'src/foundation.scss';

#summary::after {
    content: "|";
    right: 0;
    color:#b3b3b3;
    animation: caret 1.2s infinite;
}
  
@keyframes caret {
    50% {
        opacity:0;
    }
}

.loading-ellipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis-animation steps(1,end) 2s infinite;
    content: "\2026";
}

@keyframes ellipsis-animation {
    0%  { clip-path: inset(0 100% 0 0); }
    25% { clip-path: inset(0 66.6% 0 0); }
    50% { clip-path: inset(0 33.3% 0 0); }
    75% { clip-path: inset(0 0 0 0); }
}

.search-container{
    padding: 16px 16px 8px 16px;
    background-color: #fff;
    top: -1px;
    position: sticky;
    z-index: 900;

    .search-input {
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0;
        font-weight: $regular;
        height: 48px;
        padding:16px;
        border-radius: 12px;
        width: 100%;
        border:0 solid black;
        background: url('https://nonunbub.s3.ap-northeast-2.amazonaws.com/static/fe-assets/new/search.svg') no-repeat scroll 16px $gray-100;
        padding-left: 47px;
    }
    
    .search-input:focus {
        outline:none;
    }

    .tap-menu {
        background: #bdbdbd;
        border-radius: 24px;
        padding: 4px 8px;
        color: white;
        cursor: pointer;
    }
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}